.list{
    margin-bottom: 25px;
    &__add-btn{
        transition: all 200ms ease-in;
        color: rgb(143, 141, 141);
        svg{
            path{
                stroke:rgb(143, 141, 141);
            }
        }
        &:hover{
            color: #000;
            svg{
                path{
                    stroke: black;
                }
            }
        }
    }
    li{
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 10px 12px;
        transition: background-color 0.15s ease-in-out;
        &:hover{
            background-color: rgba(255, 255, 255, 0.6);
        }
        i {
            svg {
                margin-right: 8px;
                margin-top: 3px;
                path{
                  fill: rgb(163, 163, 163);
                }
            }
        }
        span {
          flex: 1 ;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 160px;
          white-space: nowrap;
        }
        &.active{
          background-color: #fff;
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
        }
        &:hover{
            .list__remove{
                opacity: .2;
                left: 165px;
            }
        }
        .list__remove{
            transition: all 500ms ease-in;
            position: absolute;
            left: 0;
            height: 10px;
            width: 8px;
            opacity: 0;
            svg{
                fill: #000;
                path{
                    fill: #000;
                }
            }
            &:hover{
                opacity: 1;
                transform: rotate(180deg);
                svg{
                    path{
                        fill: rgb(129, 129, 129);
                    }
                }
            }
        }
  
    }

    .badge {
        position: relative;
        left: 5px;
        margin-right: 15px;
    }
}

