.add{
    &__popup{
        position: relative;
        top: -20px;
        width: 235px;
        height: 148px;
        background: #FFFFFF;
        box-shadow: 0px 6px 10px rgba(2, 2, 2, 0.05);
        border-radius: 10px;
        padding: 18px;
        &-close{
            cursor: pointer;
            position: absolute;
            top: -10px;
            right: -5px;
            &:hover{
                transform: rotate(180deg);
                transition: .3s ease-in;
            }
        }
        &-field{
            padding-left: 5px;
            width: 100%;
            height: 32px;
            background: #FFFFFF;
            border: 1px solid #EFEFEF;
            box-sizing: border-box;
            border-radius: 4px;
            outline: none;
            &:focus{
                box-shadow: 0 0 3px rgb(117, 255, 117);
            }
            margin-bottom: 12px;
        }

        &-colors {
            display: flex;
            justify-content: space-between;
            .badge {
                height: 16px;
                width: 16px;
                &.active{
                    border: 1px solid black;
                    box-shadow: 0 0 2px 1px black;
                }
            }
            margin-bottom: 12px;
        }
        &-btn{
            width: 100%;
            height: 37px;
            background: #4DD599;
            border-radius: 4px;
            outline: none;
            border: none;
            color: #fff;
            cursor: pointer;
            &:hover{
                background: darken($color: (#4DD599), $amount: 10%);
            }
            &:active{
                background: darken($color: (#4DD599), $amount: 15%);
            }
        }
    }
}