.todo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  height: 530px;  
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(116, 116, 116);
  display: flex;
  &__sidebar{
    font-size: 14px;
    background-color: #F4F6F8;
    width: 200px;
    height: 530px;
    padding: 60px 20px;
    border-right: 1px solid #F4F6F8;
  }
  &__tasks{
    flex: 1;
    padding: 60px;
  }
}

