.todo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  height: 530px;  
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(116, 116, 116);
  display: flex;
  &__sidebar{
    font-size: 14px;
    background-color: #F4F6F8;
    width: 200px;
    height: 530px;
    padding: 60px 15px;
    border-right: 1px solid #F4F6F8;
  }
  &__tasks{
    flex: 1;
    padding: 60px;
    overflow: auto;
  }
  .button{
    width: 100%;
    height: 37px;
    background: #4DD599;
    border-radius: 4px;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    &:hover{
        background: darken($color: (#4DD599), $amount: 10%);
    }
    &:active{
        background: darken($color: (#4DD599), $amount: 15%);
    }
  }
  .field{
    padding-left: 5px;
    width: 100%;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    &:focus{
        box-shadow: 0 0 3px rgb(117, 255, 117);
    }
    margin-bottom: 12px;
  }
}

